.cabecalhoPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav{
    display: flex;
}

.rodapePrincipal .container{
    display: flex;
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-around;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    
}

.rodapePrincipal-contatoForm{
    display: flex;
}